<ion-header [translucent]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="1" class="ion-padding-start">
        <ion-icon
          class="ion-justify-content-end"
          name="chevron-back-outline"
          color="primary"
          size="small"
          [routerLink]="['/home']"
        ></ion-icon>
      </ion-col>
      <ion-col>
        <ion-title class="ion-text-center ion-margin-end" color="primary"
          >Countries</ion-title
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">countries</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
