<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="1" class="ion-padding-start">
          <ion-icon
            class="ion-justify-content-end"
            name="chevron-back-outline"
            color="primary"
            size="small"
            [routerLink]="['/countries']"
          ></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title class="ion-text-center ion-margin-end" color="primary"
            >News</ion-title
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="news.length > 0; else noContent">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center"
          >News from <b>{{countryName}}</b></ion-card-title
        >
      </ion-card-header>
    </ion-card>
    <ion-card *ngFor="let story of news">
      <ion-img
        *ngIf="story.image_url;"
        src="{{story.image_url}}"
        alt="cover for story: {{story.title}}"
      ></ion-img>
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{story.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{story.description}}</ion-card-content>
    </ion-card>
  </div>
  <ng-template #noContent>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center"
          >No news found for <b>Ireland</b></ion-card-title
        >
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>
