<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-title color="primary">G00438809</ion-title>
        </ion-col>
        <ion-col size="2" class="ion-padding-start">
          <ion-icon
            class="ion-justify-content-end"
            name="settings-outline"
            color="primary"
            size="small"
            [routerLink]="['/settings']"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="ion-margin-top">
    <ion-input
      [(ngModel)]="countryName"
      label="Enter Country "
      placeholder="country name"
    ></ion-input>
  </ion-item>
  <ion-button
    class="ion-margin-start ion-margin-end ion-margin-top"
    expand="block"
    (click)="handleSearch()"
    >Search</ion-button
  >
</ion-content>
