<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="1" class="ion-padding-start">
          <ion-icon
            class="ion-justify-content-end"
            name="chevron-back-outline"
            color="primary"
            size="small"
            [routerLink]="['/countries']"
          ></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title class="ion-text-center ion-margin-end" color="primary"
            >Weather</ion-title
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center"
        >Weather for <b>{{capital}}</b></ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" class="ion-padding-start">
          <ion-img
            src="https://openweathermap.org/img/wn/{{weather.icon}}@2x.png"
            alt="weather icon"
          ></ion-img>
        </ion-col>
        <ion-col class="ion-padding-start">
          <ion-card-header>
            <ion-card-title>{{weather.description}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{weather.temperature}}</ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
